.day-card{
    width: 100%;
    background: white;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.day-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.day-category-dots{
    display: flex;
    gap: 6px;
    margin-left: 8px;
}

.small-dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.day-actions-total{
    display: flex;
    align-items: center;
    gap: 10px;
}

.day-total{
    font-weight: 500;
    color: #000;
    margin-right: 12px;
}

.day-actions-total button{
    background: none;
    border: none;
    cursor: pointer;
}

.day-actions-total button:hover{
    transform: scale(1.1);
}

.day-content{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.day-info input{
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}