.entry-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1E3A8A;
    border-radius: 16px;
    padding: 5px 10px;
}

.entry-description{
    flex: 1;
}

.entry-amount{
    font-weight: 400;
    color: #1E3A8A;
}