.entry-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1E3A8A;
    border-radius: 16px;
    padding: 5px 10px;
    transition: background 0.2s ease;
}

.entry-item:hover{
    background: #f5faff;
}

.entry-description{
    flex: 1;
    margin-right: 10px;
}

.entry-amount{
    font-weight: 400;
    color: #1E3A8A;
}

.entry-item input[type="text"],
.entry-item input[type="number"]{
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 150px;
}