.expenses-view-container{
    padding-left: 5%;
    padding-right: 5%;
}

.expenses-container{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 60px auto;
    display: flex;
    flex-direction: column;
}